.jumbotron {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbotron a {
  margin-bottom: 5px;
}
footer {
  margin-top: 40px;
  margin-bottom: 20px;
}
a.btn {
  margin-top:5px;
}
