<!-- Projects -->

<section class="jumbotron text-center">
   <div class="container">
     <p>
       <a href="{{site.baseurl}}/appscript/" class="btn {% if page.title == 'Google Apps Script' %}btn-outline-primary{% else %}btn-outline-secondary{% endif %}">Google Apps Script</a>
       <a href="{{site.baseurl}}/workflow/" class="btn {% if page.title == 'Workflow' %}btn-outline-primary{% else %}btn-outline-secondary{% endif %}">Workflow</a>
       <a href="{{site.baseurl}}/misc/" class="btn {% if page.title == 'Misc' %}btn-outline-primary{% else %}btn-outline-secondary{% endif %}">Misc</a>
     </p>
     <h1 class="jumbotron-heading">{{ page.title }}</h1>
     <p class="lead text-muted">{{ page.description }}</p>
     <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="techstreams" data-color="#FFDD00" data-emoji=""  data-font="Inter" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
   </div>
 </section>

<div class="container">
  <div class="card-columns">
  {% for item in include.items %}
    {% capture colorcycle %}{% cycle 'card-primary', 'card-success', 'card-info', 'card-warning', 'card-danger' %}{% endcapture %}
      <div class="card card-inverse {{ colorcycle }}">
        <div class="card-block">
          <h4 class="card-title">{{ item.tl_title }}</h4>
          <p class="card-text">{{ item.tl_content }}</p>
          <p class="card-text">
            <small>
              {% for btn in item.buttons %}
                 <a href="{{ btn.href }}" class="btn btn-secondary btn-sm" role="button" target="_blank">{{ btn.name }}</a>
              {% endfor %}
            </small>
          </p>
        </div>
     </div>
   {% endfor %}
  </div>
</div>
